:root{
    /* --white: #181818;
    --accent: #101010; */
    /* #262828 */
    --white: #fbffff;
    --black: #101010;
    --gray: #262828;
    --primary: #a38fff;
    --primary-hover:#bdb2ff;
    --primary-active:#7869be;
    font-size: .6vw;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--white);
    color: var(--white);
    font-family: cairo;
    width: 100vw;
    height: 100svh;
    overflow: hidden;
    text-align: right;
    direction: rtl;
}
body::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .8;
    z-index: -1;
}
#home-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    user-select: none;
}
header{
    color: var(--white);
    height: 10rem;
    position: relative;
    padding: 0 4rem;
}
header::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    height: .2rem;
    background-color: var(--white);
    animation: draw-in 1s .2s ease-in-out forwards;
    box-shadow: 0 0 1rem .1rem var(--white);
}
#header-cont{
    display: flex;
    height: 100%;
    align-items: center;
}
#logo{
    height: 100%;
    width: fit-content;
    padding: 1.25rem 0;
    margin-left: 1.5rem;
}
#title{
    font-size: 4.5rem;
    font-weight: 700;
}
main{
    height: calc(100svh - 10rem);
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}
h2{
    font-weight: 600;
    font-size: 2.5rem;
    position: relative;
    width: fit-content;
    margin-bottom: 1rem;
}
h2::before{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: .2rem;
    background-color: var(--primary);
    animation: draw-in .5s 1.1s ease-in-out forwards;
    opacity: 0;
}
h2::after{
    content: " :";
}
.yap{
    max-width: 70rem;
    font-size: 2rem;
}
#motto2{
    margin-top: 1.5rem;
}
#splitter-cont{
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}
#splitter{
    height: 60rem;
    width: .2rem;
    background-color: var(--primary);
    border-radius: .1rem;
    animation: draw-in-h 1s .2s ease-in-out forwards;
    opacity: 0;
}
#splitter2{
    width: 70%;
    height: .2rem;
    background-color: var(--primary);
    margin: 1rem auto;
    animation: draw-in 1s .2s ease-in-out forwards;
    opacity: 0;
}
#motto{
    font-size: 2.5rem;
}
.sub-motto{
    font-size: 2.5rem;
    width: 20rem;
}
.sub-motto::before,.yap::before{
    content: "- ";
    color: var(--primary);
    font-weight: 900;
}
#motto::before,#motto2::before,#motto::after,#motto2::after{
    content: '"';
    color: var(--primary);
    font-weight: normal;
}
#subjects-btn{
    width: 30rem;
    height: 7rem;
    background-color: var(--primary);
    font-size: 3rem;
    font-family: inherit;
    border: none;
    border-radius: 1rem;
    font-weight: 900;
    margin-top: 2rem;
    transition: background-color .07s linear;
    color: var(--gray);
}
#subjects-btn:hover,.subject:hover,#menu-close:hover{
    background-color: var(--primary-hover);
}
#subjects-btn:active,.subject:active,#menu-close:active{
    background-color: var(--primary-active);
}
#menu{
    --height: 45rem;
    --width: 80rem;
    --left: -40rem;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0,-50%);
    width: .2rem;
    height: 60rem;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 0;
    display: flex;
    z-index: 1;
    pointer-events: none;
}
.menu-splitters{
    position: absolute;
    width: .2rem;
    height: 100%;
    background-color: var(--primary);
    border-radius: .1rem;
    opacity: 1;
}
.menu-splitters.l{
    left: 0;
}
.menu-splitters.t,.menu-splitters.b{
    left: 50%;
    opacity: 0;
    width: 100%;
    height: .2rem;
}
.menu-splitters.b{
    bottom: 0;
}
#menu-cont{
    width: 100%;
    height: 100%;
    padding: 2rem 5rem;
    display: flex;
    flex-direction: column;
}
#menu-header{
    display: flex;
    align-items: center;
}
#menu-header *{
    flex: 1;
}
#menu-logo{
    height: 7rem;
}
.menu-header-boxes{
    display: flex;
}
.menu-header-boxes h2{
    max-width: fit-content;
}
#menu-close{
    background-color: var(--primary);
    max-width: 4rem;
    height: 4rem;
    border: none;
    border-radius: 1rem;
    font-weight: 900;
    font-size: 2rem;
    margin-right: auto;
}
#subjects{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 1.5rem;
    height: 100%;
}
.subject{
    background-color: var(--primary);
    color: var(--gray);
    height: 5rem;
    width: fit-content;
    border-radius: 1rem;
    border: none;
    font-size: 2rem;
    padding: 0 1rem 0 2rem;
    font-family: inherit;
    font-weight: 700;
    transition: background-color .07s linear;
    display: flex;
    align-items: center;
}
.subject-num{
    font-size: 2.5rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: .2rem solid var(--gray);
    margin-left: 1rem;
    padding-left: 1rem;
    position: relative;
}
#splitter,#splitter2, h2::before,.menu-splitters{
    box-shadow: 0 0 1rem .1rem var(--primary);
}
.slide-in-r{
    animation: slide-in-r .5s ease-in-out forwards;
    animation-delay: .8s;
    opacity: 0;
}
.slide-in-d{
    animation: slide-in-d .5s ease-in-out forwards;
    animation-delay: .8s;
    opacity: 0;
}
@keyframes slide-in-r {
    0%{
        transform: translateX(10%);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slide-in-l {
    0%{
        transform: translateX(-30%);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slide-in-d {
    0%{
        transform: translateY(-20%);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slide-in-dr {
    0%{
        transform: translateY(0px);
        opacity: 1;
    }
    100%{
        transform: translateY(-20%);
        opacity: 0;
    }
}
@keyframes draw-in {
    0%{
        width: 0;
        opacity: 1;
        left: 50%;
    }
    100%{
        opacity: 1;
        left: 0;
    }
}
@keyframes draw-in-h {
    0%{
        height: 0;
        opacity: 1;
        top: 50%;
    }
    100%{
        opacity: 1;
        top: 0;
    }
}
@keyframes menu-open {
    0%{
        opacity: 1;
        width: .2rem;
        left: 0;
        height: 60rem;
    }
    50%{
        opacity: 1;
        width: 80rem;
        left: -40rem;
        height: 60rem;
    }
    100%{
        opacity: 1;
        width: 80rem;
        left: -40rem;
        height: var(--height);
    }
}