:root{
    /* --background: #181818;
    --accent: #101010; */
    /* #262828 */
    --background: #fbffff;
    --accent: #101010;
    --text: #262828;
    --primary: #a38fff;
    --primary-hover:#95eaff;
    --primary-active:#01869e;
    --gradient:linear-gradient(
        45deg,
        #cba8d9,
        #f9edfe
    );
    --gradient2:linear-gradient(
        45deg,
        #e9c2f9,
        #c2e0f9
    );
    font-size: .6vw;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--background);
    color: var(--text);
    font-family: cairo;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    text-align: right;
    direction: rtl;
}
header{
    border-bottom: 3px solid var(--background);
    color: var(--background);
    background: rgba(0, 0, 0, .75);
    height: 10rem;
}
#title{
    font-size: 5rem;
    text-align: center;
    font-weight: 700;
}
main{
    height: calc(100vh - 10rem);
    width: 100%;
}
#home{
    height: 100%;
    width: 100%;
    position: relative;
    padding: 0 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#home-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    user-select: none;
}
#home::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .75;
    z-index: -1;
}
#home p {
    font-size: 3rem;
    color: var(--background);
}
#subjects-btn{
    width: 30rem;
    height: 7rem;
    background-color: var(--primary);
    font-size: 2.5rem;
    font-family: inherit;
    border: none;
    border-radius: 1rem;
    font-weight: 900;
    margin-top: 2rem;
}