:root{
    /* --background: #181818;
    --accent: #101010; */
    /* #262828 */
    --background: #fbffff;
    --accent: #101010;
    --text: #262828;
    --primary: #a38fff;
    --primary-hover:#95eaff;
    --primary-active:#01869e;
    --gradient:linear-gradient(
        45deg,
        #cba8d9,
        #f9edfe
    );
    --gradient2:linear-gradient(
        45deg,
        #e9c2f9,
        #c2e0f9
    );
    font-size: .6vw;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--background);
    color: var(--text);
    font-family: cairo;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    text-align: right;
    direction: rtl;
}
#background{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: -1;
    /* display: none;   */
}
.bubble{
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    left: 0%;
    top: 0%;
    background: var(--gradient2);
    position: absolute;
    box-shadow: 0 0 15rem 0 #d2c2f9;
    transition: left .3s ease-in-out,top .3s ease-in-out,transform .3s ease-in-out;
    opacity: .3;
    transform-origin: center;
}
.bubble::after{
    content: "";
    background-color: white;
    z-index: 100;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    position: absolute;
    right: 3.5rem;
    top: 3.5rem;
    opacity: 0;
}
header{
    border-bottom: 3px solid var(--text);
    margin-bottom: 10rem;
}
#title{
    font-size: 5rem;
    text-align: center;
    font-weight: 700;
}
main{
    padding: 0 2rem;
}
#section{
    display: flex;
}
#text{
    width: 90rem;
}
#illusts{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#illusts div{
    display: flex;
    height: 20rem;
}
.illust{
    height: 25rem;
    width: fit-content;
}
.spacer{
    width: 15rem;
}
h2{
    font-size: 3.5rem;
    margin-bottom: 1rem;
}
.highlighted{
    font-weight: 900;
    margin-left: .5rem;
}
p{
    font-size: 2rem;
}
.divder{
    height: 2px;
    width: 80rem;
    background-color: var(--text);
    margin: 2rem 5rem;
    margin-left: auto;
}
#test-btn{
    width: 30rem;
    height: 10rem;
    font-size: 5rem;
    font-weight: 600;
    border-radius: 1rem;
    color: inherit;
    color: var(--background);
    font-family: inherit;
    border: none;
    background: var(--primary);
    background: linear-gradient(
        45deg,
        #d28fff,
        #8fd8ff
    ) ;
    display: block;
    margin: 0 auto;
    margin-top: 5rem;
}