@media (min-width: 1px) and (max-width: 425px) {
:root{
    font-size: 1.5vw;
    --header: 8rem;
}
header{
    height: var(--header);
    padding: 0 3rem;
}
#logo{
    padding: 1.25rem 0;
    margin-left: 1rem;
}
#title{
    font-size: 3.5rem;
}
#page-intro{
    flex-direction: column;
    align-content: space-between;
    gap: 4rem;
    padding: 5rem 0;
}
#title2{
    margin-top: 0;
}
#projects-btn{
    margin:auto;
    margin-bottom: 0;
    animation: slide-in-u .5s .8s ease-in-out forwards;
    font-size: 4rem;
    width: 35rem;
    height: 8rem;
}
#page-logo{
    width: 100%;
    height: fit-content;
    height: 120rem;
    animation: slide-in-u .5s .8s ease-in-out forwards;
}
h2{
    margin-bottom: 5rem;
}
#title2{
    font-size: 3.5rem;
}
.yap{
    font-size: 3rem;
}
.vid-cont{
    width: calc(56rem * 1);
    display: flex;
    flex-direction: column;
    position: relative;
    /* background-color: var(--gray); */
}
iframe{
    height: calc(31.5rem * 1);
    width: 100%;
    border: .2rem solid var(--white);
    /* box-shadow: 0 0 5rem .5rem #fbffff3a; */
    margin-bottom: 25rem;
}

#splitter-cont{
    height: .2rem;
    width: 100%;
    justify-content: center;
}
#splitter{
    width: 90%;
    height: .2rem;
    animation: draw-in 1s .2s ease-in-out forwards;
}

#menu{
    --mobile: yes;
    --height: 57rem;
    --width: 90%;
    --left: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    height: var(--height);
}
.menu-splitters.t,.menu-splitters.b{        
    left: 0 !important;
    opacity: 1 !important;
    width: 100%;
    height: .2rem;
    animation: none !important;
}
.menu-splitters.r,.menu-splitters.l{        
    top: 50%;
}
#menu-cont{
    padding: 2rem 3rem;
}
#menu-logo{
    height: 7rem;
    display: none;
    /*  */
}
.menu-header-boxes h2{
    margin: 0;
}
#menu-close{
    max-width: 5rem;
    height: 5rem;
    border-radius: 1rem;
    font-weight: 900;
    font-size: 2.75rem;
}
#projects{
    gap: 1.5rem;
}
.project{
    font-size: 2.25rem;
}
.project-num{
    font-size: 3rem;
}
@keyframes menu-open {
0%{
    opacity: 1;
    width: 90%;
    height: .2rem;
}
100%{
    opacity: 1;
    width: 90%;
    height: 57rem;
}
}
}