:root{
    /* --white: #181818;
    --accent: #101010; */
    /* #262828 */
    --white: #fbffff;
    --black: #101010;
    --gray: #262828;
    --primary: #a38fff;
    --primary-hover:#bdb2ff;
    --primary-active:#7869be;
    font-size: .6vw;
    scroll-behavior: smooth;
    scroll-padding: calc(var(--header) + 2rem) 0 0 0;
    --header: 10rem;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--black);
    color: var(--white);
    font-family: cairo;
    width: 100vw;
    height: 100svh;
    text-align: right;
    direction: rtl;
    overflow-x: hidden;
    padding-top: var(--header);
}
header{
    color: var(--white);
    height: var(--header);
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    padding: 0 4rem;
    background-color: var(--black);
    z-index: 5;
}
header::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    height: .2rem;
    opacity: 0;
    background-color: var(--white);
    animation: draw-in 1s .2s ease-in-out forwards;
    box-shadow: 0 0 1rem .1rem var(--white);
}
#header-cont{
    display: flex;
    height: 100%;
    align-items: center;
    animation: slide-in-d .5s ease-in-out forwards;
    animation-delay: .8s;
    opacity: 0;
    user-select: none;
}
#logo{
    height: 100%;
    width: fit-content;
    padding: 1.25rem 0;
    margin-left: 1.5rem;
}
#title{
    font-size: 4.5rem;
    font-weight: 700;
}

main{
    display: flex;
    flex-direction: column;
    gap: 10rem;
    padding: 0 7rem;
    padding-top: 0;
}
#page-intro{
    width: 100%;
    height: calc(100svh - var(--header));
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}
#page-info{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
}
#bla{
    display: flex;
    flex-direction: column;
}
#title2{
    animation: slide-in-r .5s .8s ease-in-out forwards;
    opacity: 0;
    margin-bottom: 1rem;
}
#title2::before{
    animation: draw-in .5s .9s ease-in-out forwards;
}
.yap{
    max-width: 80rem;
    font-size: 3rem;
    animation: slide-in-r .5s .8s ease-in-out forwards;
    opacity: 0;
}
.yap::before, .yap::after{
    content: '"';
    color: var(--primary);
}
#buttons{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
#projects-btn{
    width: 30rem;
    height: 7rem;
    padding: 0 2rem;
    background-color: var(--primary);
    font-size: 3rem;
    font-family: inherit;
    border: none;
    border-radius: 1rem;
    font-weight: 900;
    transition: background-color .07s linear;
    color: var(--gray);
    opacity: 0;
    animation: slide-in-r .5s .8s ease-in-out forwards;
    text-align: center;
}
#projects-btn:hover,#menu-close:hover,.project:hover,#test-btn:hover{
    background-color: var(--primary-hover);
}
#projects-btn:active,#menu-close:active,.project:active,#test-btn:active{
    background-color: var(--primary-active);
}
#test-btn{
    width: 30rem;
    height: 7rem;
    padding: 0 2rem;
    background-color: var(--primary);
    font-size: 3rem;
    font-family: inherit;
    border: none;
    border-radius: 1rem;
    font-weight: 900;
    transition: background-color .07s linear;
    color: var(--gray);
    opacity: 0;
    animation: slide-in-r .5s .8s ease-in-out forwards;
    text-align: center;
}
#page-logo{
    height: 80%;
    width: fit-content;
    opacity: 0;
    animation: slide-in-l .5s .8s ease-in-out forwards;
}

#splitter-cont{
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}
#splitter{
    height: 60rem;
    width: .2rem;
    background-color: var(--primary);
    border-radius: .1rem;
    animation: draw-in-h 1s .2s ease-in-out forwards;
    opacity: 0;
}
#splitter, h2::before, h3::before,.menu-splitters{
    box-shadow: 0 0 1rem .1rem var(--primary);
}
#menu{
    --height: 50%;
    --width: 80rem;
    --left: -40rem;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0,-50%);
    width: .2rem;
    height: 60rem;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 0;
    display: flex;
    z-index: 1;
    pointer-events: none;
}
.menu-splitters{
    position: absolute;
    width: .2rem;
    height: 100%;
    background-color: var(--primary);
    border-radius: .1rem;
    opacity: 1;
}
.menu-splitters.l{
    left: 0;
}
.menu-splitters.t,.menu-splitters.b{
    left: 50%;
    opacity: 0;
    width: 100%;
    height: .2rem;
}
.menu-splitters.b{
    bottom: 0;
}
#menu-cont{
    width: 100%;
    height: 100%;
    padding: 2rem 5rem;
    display: flex;
    flex-direction: column;
}
#menu-header{
    display: flex;
    align-items: center;
}
#menu-header *{
    flex: 1;
}
#menu-logo{
    height: 7rem;
}
.menu-header-boxes{
    display: flex;
}
.menu-header-boxes h2{
    max-width: fit-content;
    font-weight: 600;
    font-size: 2.5rem;
    position: relative;
    width: fit-content;
    margin-bottom: 1rem;
}
.menu-header-boxes h2::before{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: .2rem;
    background-color: var(--primary);
    animation: draw-in .5s 1.1s ease-in-out forwards;
    opacity: 0;
}
#menu-close{
    background-color: var(--primary);
    max-width: 4rem;
    height: 4rem;
    border: none;
    border-radius: 1rem;
    font-weight: 900;
    font-size: 2rem;
    margin-right: auto;
}
#projects{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 3rem 0;
    gap: 1.5rem;
    height: 100%;
}
.project{
    background-color: var(--primary);
    color: var(--gray);
    height: 5rem;
    width: fit-content;
    border-radius: 1rem;
    border: none;
    font-size: 2rem;
    padding: 0 1rem 0 2rem;
    font-family: inherit;
    font-weight: 700;
    transition: background-color .07s linear;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.project-num{
    font-size: 2.5rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: .2rem solid var(--gray);
    margin-left: 1rem;
    padding-left: 1rem;
    position: relative;
}

section{
    align-items: center;
    flex-direction: column;
    display: none;
}
h2{
    font-size: 4rem;
    position: relative;
    width: fit-content;
    margin-bottom: 00rem;
}
h2::before,h3::before{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: .2rem;
    background-color: var(--primary);
    opacity: 0;
}
h3::after{
    content: " :";
}
h3{
    font-size: 3rem;
    margin-bottom: 1.5rem;
    position: relative;
    width: fit-content;
}
.vid-cont{
    width: calc(56rem * 1.75);
    height: fit-content;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 25rem;
}
iframe{
    height: calc(31.5rem * 1.75);
    width: 100%;
    border-radius: 2rem;
}
.scroller{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.slide-in-r,.slide-in-u,.slide-in-d,.slide-in-l{
    opacity: 0;
}
.scroller.visible ~ h3::before,.scroller.visible ~ h2::before{
    animation: draw-in .5s .3s ease-in-out forwards;
}
.scroller.visible ~ .slide-in-r{
    animation: slide-in-r .7s .2s ease-in-out forwards;
}
.scroller.visible ~ .slide-in-d{
    animation: slide-in-d .7s .2s ease-in-out forwards;
}
.scroller.visible ~ .slide-in-u{
    animation: slide-in-u .7s .2s ease-in-out forwards;
}
.scroller.visible ~ .slide-in-l{
    animation: slide-in-l .7s .2s ease-in-out forwards;
}
@keyframes slide-in-r {
    0%{
        transform: translateX(10%);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slide-in-l {
    0%{
        transform: translateX(-30%);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slide-in-d {
    0%{
        transform: translateY(-20%);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slide-in-dr {
    0%{
        transform: translateY(0px);
        opacity: 1;
    }
    100%{
        transform: translateY(-20%);
        opacity: 0;
    }
}
@keyframes slide-in-u {
    0%{
        transform: translateY(20%);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes draw-in {
    0%{
        width: 0;
        opacity: 1;
        left: 50%;
    }
    100%{
        opacity: 1;
        left: 0;
    }
}
@keyframes draw-in-h {
    0%{
        height: 0;
        opacity: 1;
        top: 50%;
    }
    100%{
        opacity: 1;
        top: 0;
    }
}
@keyframes menu-open {
    0%{
        opacity: 1;
        width: .2rem;
        left: 0;
        height: 60rem;
    }
    50%{
        opacity: 1;
        width: 80rem;
        left: -40rem;
        height: 60rem;
    }
    100%{
        opacity: 1;
        width: 80rem;
        left: -40rem;
        height: var(--height);
    }
}